<!-- post-partner-request.component.html -->
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="sport">Sport:</label>
    <input type="text" id="sport" name="sport" class="form-control" [(ngModel)]="request.sport" required>
  </div>
  <div class="form-group">
    <label for="dateTime">Date and Time:</label>
    <input type="datetime-local" id="dateTime" name="dateTime" class="form-control" [(ngModel)]="request.dateTime" required>
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" class="form-control" [(ngModel)]="request.location" required>
  </div>
  <div class="form-group">
    <label for="additionalInfo">Additional Info:</label>
    <textarea id="additionalInfo" name="additionalInfo" class="form-control" [(ngModel)]="request.additionalInfo"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
